.loginBox
{
    text-align: center;
    color: black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.loginImg
{
    width: 100px;
    margin: 20px 0 20px;
}
body
{
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
  
  background-size:cover;
  height:90%;
}